<div>
	<a class="button is-primary js-btn-pdf">Download PDF</a>
</div>

<script type="text/javascript" src="https://unpkg.com/pdfjs-dist@2.5.207/build/pdf.min.js"></script>
<script type="text/javascript">
	var btn = document.querySelector('.js-btn-pdf');

	btn.addEventListener('click', function () {
		url = '/';
		var thePdf = null;
		var scale = 1;

		pdfjsLib.getDocument(url).promise.then(function (pdf) {
			thePdf = pdf;
			viewer = document.getElementById('pdf-viewer');

			for (page = 1; page <= pdf.numPages; page++) {
				canvas = document.createElement("canvas");
				canvas.className = 'pdf-page-canvas';
				viewer.appendChild(canvas);
				renderPage(page, canvas);
			}
		});

		function renderPage(pageNumber, canvas) {
			thePdf.getPage(pageNumber).then(function (page) {
				viewport = page.getViewport(scale);
				canvas.height = viewport.height;
				canvas.width = viewport.width;
				page.render({ canvasContext: canvas.getContext('2d'), viewport: viewport });
			}).catch(function (err) {
				console.error(err);
			});
		}
	})
</script>
