<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7" />

<meta name="language" content="en-EN" />
<meta name="author" content="Irfan Maulana" />
<title>Bulma Resume Template</title>
<meta name="description" content="Free Resume/CV Page Template with Bulma CSS by Irfan Maulana" />

<meta property="og:title" content="Bulma Resume Template" />
<meta property="og:description" content="Free Resume/CV Page Template with Bulma CSS by Irfan Maulana" />

<meta name="twitter:title" content="Bulma Resume Template" />
<meta name="twitter:description" content="Free Resume/CV Page Template with Bulma CSS by Irfan Maulana" />

<link rel="icon" type="image/png" sizes="16x16" href="https://mazipan.github.io/favicon/favicon-16x16.png" />
<meta name="theme-color" content="#bd93f9" />

<link rel="preconnect" href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="dns-prefetch" href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway" as="style"
	onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
</noscript>

<link rel="stylesheet" href="<%= content.config.publicPath %>/css/dark-style.css" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25065548-2"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
	gtag('config', 'UA-25065548-2');
</script>

<style>
	.github-corner:hover .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}

	@keyframes octocat-wave {

		0%,
		100% {
			transform: rotate(0);
		}

		20%,
		60% {
			transform: rotate(-25deg);
		}

		40%,
		80% {
			transform: rotate(10deg);
		}
	}

	@media (max-width: 500px) {
		.github-corner:hover .octo-arm {
			animation: none;
		}

		.github-corner .octo-arm {
			animation: octocat-wave 560ms ease-in-out;
		}
	}

</style>
