<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">

  <meta name="language" content="en-EN" />
  <meta name="author" content="Irfan Maulana" />
  <title>Bulma Resume Template - Free Resume Page Template with Bulma CSS by Irfan Maulana</title>
  <meta name="description" content="Free Resume Page Template with Bulma CSS by Irfan Maulana">

  <meta property="og:title" content="Bulma Resume Template">
  <meta property="og:description" content="Free Resume Page Template with Bulma CSS by Irfan Maulana">

  <meta name="twitter:title" content="Bulma Resume Template">
  <meta name="twitter:description" content="Free Resume Page Template with Bulma CSS by Irfan Maulana">

  <link rel="icon" type="image/png" sizes="16x16" href="https://mazipan.github.io/favicon/favicon-16x16.png">
  <meta name="theme-color" content="#209cee">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25065548-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-25065548-2');
  </script>

  <!-- GOOGLE ADS -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5442972248172818",
      enable_page_level_ads: true
    });
  </script>
  <style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>
</head>

<body>
  <a href="https://github.com/mazipan/bulma-resume-template" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#209ced; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a>
  <header class="line has-background-info"></header>

  <section class="profile section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-fifths">
          <h1 class="title is-size-1">
            Your Name
          </h1>
          <p class="subtitle">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </p>
        </div>
        <div class="column is-2">
          <figure class="image image is-128x128">
            <img class="is-rounded" src="https://avatars2.githubusercontent.com/u/7221389?s=128&v=4">
          </figure>
        </div>
        <div class="column has-text-grey-light has-text-right has-text-centered-mobile">
          <p class="has-text-weight-light">
            123 Your Street
          </p>
          <p class="has-text-weight-light">
            Your City, ST 12345
          </p>
          <p class="has-text-weight-light">
            (123) 456-7890
          </p>
          <p class="has-text-weight-light">
            no_reply@example.com
          </p>
          <p>
            <a href="#" class="facebook" title="Facebook"><svg viewBox="0 0 512 512" height="2rem" width="2rem"><path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"/></svg></a>
            <a href="#" class="facebook" title="Facebook"><svg viewBox="0 0 512 512" height="2rem" width="2rem"><path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"/></svg></a>
            <a href="#" class="facebook" title="Facebook"><svg viewBox="0 0 512 512" height="2rem" width="2rem"><path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"/></svg></a>
            <a href="#" class="facebook" title="Facebook"><svg viewBox="0 0 512 512" height="2rem" width="2rem"><path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"/></svg></a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="hr"></div>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-three-fifths">
          <div class="summary">
            <div class="title is-size-5 has-text-info has-text-weight-bold">SUMMARY</div>
            <div class="wrapper">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </div>
          </div>

          <div class="experience">
            <div class="title is-size-5 has-text-info has-text-weight-bold">EXPERIENCE</div>

            <div class="item">
              <div class="is-size-5"><b>Company,</b> <span class="has-text-weight-semi-bold">Location — <i>Job Title</i></span></div>
              <div class="is-size-7">MONTH 20XX - PRESENT</div>
              <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
            </div>
            <div class="item">
              <div class="is-size-5"><b>Company,</b> <span class="has-text-weight-semi-bold">Location — <i>Job Title</i></span></div>
              <div class="is-size-7">MONTH 20XX - PRESENT</div>
              <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
            </div>
            <div class="item">
              <div class="is-size-5"><b>Company,</b> <span class="has-text-weight-semi-bold">Location — <i>Job Title</i></span></div>
              <div class="is-size-7">MONTH 20XX - PRESENT</div>
              <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
            </div>
          </div>

          <div class="education">
            <div class="title is-size-5 has-text-info has-text-weight-bold">EDUCATION</div>
            <div class="item">
              <div class="is-size-5"><b>School Name</b>, <span class="has-text-weight-semi-bold">Location — <i>Degree</i></span></div>
              <div class="is-size-7">MONTH 20XX - PRESENT</div>
              <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
            </div>
            <div class="item">
              <div class="is-size-5"><b>School Name</b>, <span class="has-text-weight-semi-bold">Location — <i>Degree</i></span></div>
              <div class="is-size-7">MONTH 20XX - PRESENT</div>
              <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
            </div>
            <div class="item">
              <div class="is-size-5"><b>School Name</b>, <span class="has-text-weight-semi-bold">Location — <i>Degree</i></span></div>
              <div class="is-size-7">MONTH 20XX - PRESENT</div>
              <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
            </div>
          </div>

          <div class="projects">
            <div class="title is-size-5 has-text-info has-text-weight-bold">PROJECTS</div>

            <div class="item">
              <div class="is-size-5"><b>Project Name</b> — <i>Detail</i></div>
              <div class="is-size-7">MONTH 20XX - PRESENT</div>
              <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
            </div>
            <div class="item">
              <div class="is-size-5"><b>Project Name</b> — <i>Detail</i></div>
              <div class="is-size-7">MONTH 20XX - PRESENT</div>
              <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
            </div>
            <div class="item">
              <div class="is-size-5"><b>Project Name</b> — <i>Detail</i></div>
              <div class="is-size-7">MONTH 20XX - PRESENT</div>
              <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="skills">
            <div class="title is-size-5 has-text-info has-text-weight-bold">SKILLS</div>
            <div class="wrapper">

              <div class="item">
                <div>Lorem ipsum dolor sit amet</div>
                <progress class="progress is-info is-small" value="90" max="100">90%</progress>
              </div>

              <div class="item">
                <div>Lorem ipsum dolor sit amet</div>
                <progress class="progress is-info is-small" value="85" max="100">85%</progress>
              </div>

              <div class="item">
                <div>Lorem ipsum dolor sit amet</div>
                <progress class="progress is-info is-small" value="70" max="100">70%</progress>
              </div>

              <div class="item">
                <div>Lorem ipsum dolor sit amet</div>
                <progress class="progress is-info is-small" value="50" max="100">50%</progress>
              </div>

            </div>
          </div>
          <div class="awards">
            <div class="title is-size-5 has-text-info has-text-weight-bold">AWARDS</div>
            <div class="item">
              <div>Lorem ipsum dolor sit amet Consectetuer adipiscing elit, Sed diam nonummy</div>
            </div>
            <div class="item">
              <div>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
            </div>
            <div class="item">
              <div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</div>
            </div>
            <div class="item">
              <div>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.</div>
            </div>
          </div>
          <div class="languages">
            <div class="title is-size-5 has-text-info has-text-weight-bold">LANGUAGES</div>
            <div class="wrapper">
              Lorem ipsum, Dolor sit amet, Consectetuer
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="line has-background-info"></footer>

  <!-- GOOGLE ADS -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5442972248172818" data-ad-slot="1487770485"
    data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.mazipan.github.io/",
      "name": "Irfan Maulana | Front End Developer",
      "author": "Irfan Maulana",
      "image": "http://mazipan.github.io/images/irfan-maulana.jpg",
      "description": "Irfan Maulana is Front End Developer from Indonesia - Man that craft some code to build a beauty and readable code, experienced in web and desktop technology.",
      "sameAs": ["https://www.facebook.com/mazipanneh", "https://instagram.com/maz_ipan",
        "https://twitter.com/Maz_Ipan", "https://id.linkedin.com/in/irfanmaulanamazipan",
        "https://www.slideshare.net/IrfanMaulana21", "https://github.com/mazipan"
      ]
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "email": "mailto:mazipanneh@gmail.com",
      "image": "http://mazipan.github.io/images/irfan-maulana.jpg",
      "jobTitle": "Software Engineer",
      "name": "Irfan Maulana",
      "url": "https://www.mazipan.github.io/",
      "sameAs": ["https://www.facebook.com/mazipanneh", "https://instagram.com/maz_ipan",
        "https://twitter.com/Maz_Ipan", "https://id.linkedin.com/in/irfanmaulanamazipan",
        "https://www.slideshare.net/IrfanMaulana21", "https://github.com/mazipan"
      ]
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "http://mazipan.github.io/",
          "name": "Home",
          "image": "http://mazipan.github.io/images/irfan-maulana.jpg"
        }
      }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "http://mazipan.github.io/demo/",
          "name": "Demo",
          "image": "http://mazipan.github.io/images/irfan-maulana.jpg"
        }
      }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "http://mazipan.github.io/bulma-resume-template",
          "name": "bulma-resume-template",
          "image": "https://mazipan.github.io/bulma-resume-template/logo.png"
        }
      }]
    }
  </script>
</body>

</html>