$theme: #209cee;
$grey: #b5b5b5;

body {
  font-family: 'Raleway', sans-serif;
}

.line {
  height: 10px;
}

.hr{
  border-bottom: 10px solid $theme;
  margin: 0 1.5rem;
}

.summary, .experience, .education, .projects, .skills, .awards, .languages{
  margin-bottom: 1.5rem;

  .title{
    padding: .5em 0;
    border-bottom: 1px solid $theme;
  }
}

.experience, .education, .projects, .skills, .awards{
  .item{
    padding: .5em 0;
  }
}

.profile {
  .image{
    margin: 0 auto;
  }
  svg{
    fill: $grey;
  }
}

/* Query for mobile only*/
@media screen and (max-width: 768px){
  .profile {
    text-align: center;
  }
}

/* Query for desktop only*/
@media screen and (min-width: 1023px){
  .has-text-right-in-desktop {
    text-align: right;
  }
}