body {
  font-family: 'Raleway', sans-serif;
}

.line {
  height: 10px;
}

.hr {
  border-bottom: 10px solid var(--theme-color);
  margin: 0 1.5rem;
}

.section {
  padding: 3rem 1.5rem 1rem;
}

.summary,
.experience,
.education,
.projects,
.skills,
.awards,
.languages {
  margin-bottom: 1.5rem;

  .title {
    padding: .5em 0;
    border-bottom: 1px solid var(--theme-color);
  }
}

.experience,
.education,
.projects,
.skills,
.awards {
  .item {
    padding: .5em 0;
  }
}

.profile {
  .image {
    margin: 0 auto;
  }

  svg {
    fill: var(--theme-color);
  }
}

.social-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    color: var(--theme-color);
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.footer {
  padding: 3rem 1.5rem 1rem;
}

/* Query for mobile only*/
@media screen and (max-width: 768px) {
  .profile {
    text-align: center;
  }

  .social-icon {
    justify-content: center;
    padding: .25rem 0;
  }
}

/* Query for desktop only*/
@media screen and (min-width: 768px) {
  .has-text-right-in-desktop {
    text-align: right;
  }
}

.ads-square {
  min-width: 250px;
  min-height: 100px;
}
